.top {
  position: relative;
}
.top img {
  min-width: 100%;
  z-index: -1;
}
.top p {
  position: absolute;
  color: #fff;
  top: 10%;
  left: 50%;
  font-size: 2em;
}
.row {
  position: relative;
}
.menu {
  border: 1px solid black;
}
.header img {
  float: left;
  margin: 2%;
}
