.top {
  position: relative;
}
.top img {
  min-width: 100%;
  z-index: -1;
}
.top p {
  position: absolute;
  color: #fff;
  top: 10%;
  left: 50%;
  font-size: 200%;
}
.row {
  position: relative;
}
.large-3 {
  /*border: 1px solid black;*/
  margin-top: 7%;
  background: #e6e6e6;
  font-size: 1.2em;
  text-align: right;
  /*background: linear-gradient(to right, #bfbfbf , #b3b3b3);*/
}
.large-3 img {
  margin-left: 10%;
}
.header img {
  float: left;
  margin: 2%;
}
.large-9 {
  margin-top: 7%;
  margin-left: 1%;
}
ul {
  padding-bottom: 100%;
}

@media only screen and (max-width: 480px)  {
  .top p {
    font-size: 80%;
  }
  .large-3 {
    text-align: center;
  }
}

@media only screen and (max-width: 700px)  {
  .top p {
    font-size: 80%;
  }
  .large-3 {
    text-align: center;
  }
}

@media only screen and (max-width: 900px)  {
  .top p {
    font-size: 80%;
  }
  .large-3 {
    text-align: center;
  }
}
